#ifndef SECRETS_H
#define SECRETS_H

// Đổi tên tệp này thành secrets.h và điền thông tin Wi-Fi của bạn vào đây
const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

#endif // SECRETS_H
